@custom-media --break (min-width: 768px);

.Row {
  display: flex;
	flex-direction: column;
  padding: 0;
	width: 100%;

  &.Row--top {
    align-items: flex-start;
  }

  &.Row--bottom {
    align-items: flex-end;
  }

  &.Row--center {
    align-items: center;
  }

  &.Row--stretch {
    align-items: stretch;
  }

  &.Row--baseline {
    align-items: baseline;
  }

  & > .Column {
    display: block;
    flex: 1;
    margin-left: 0;
    max-width: 100%;
    width: 100%;

    &.Column--top {
      align-self: flex-start;
    }

    &.Column--bottom {
      align-self: flex-end;
    }

    &.Column--center {
      align-self: center;
    }

    &.Column--33 {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }

    &.Column--50 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @media (--break) {
    flex-direction: row;
  }
}
